<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Portada</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">
    <link rel="stylesheet" th:href="@{/plugins/jquery/jquery-confirm.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/custom/css/dashboard-front.css}">
    <link rel="stylesheet" th:href="@{/custom/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/plugins/cropper/cropper.min.css}">
    <script src="https://kit.fontawesome.com/468c840426.js" crossorigin="anonymous"></script>
</head>


<body>
<div class="loader-container fixed-top">
    <div class="loader"></div>
</div>
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="dashboard/fragments/sidebar :: dashborad_sidebar_fragment"></div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <a class="navbar-brand mr-0 mr-md-3" href="#menu-toggle" id="menu-toggle">
                <i class="fas fa-bars" style="color:#ff0079; font-size:28px;"></i>
            </a>
            <div class="content">
                <h3 class="mt-3 mb-5  font-weight-light text-uppercase text-center" style="color:#f400b7;">Portada
                </h3>
                <div class="container">
                    <div class="mt-3">
                        <div class="form-group">
                            <label style="color:#f400b7; font-weight: 350;" class="text-uppercase lead">Fotos de
                                Portada</label>
                            <div class="wrapper-form mt-3">
                                <input type="file" id="file-input" class="image" accept="image/*"/>
                                <label for="file-input">
                                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    &nbsp; Subir imagen
                                </label>
                                <div class="table-responsive mt-5">
                                <table class="table table-striped" id="teamTable">
                                    <thead class="table-sticky">
                                    <tr>
                                        <th class="text-center">Foto de Portada</th>
                                        <th class="text-center">Orden</th>
                                        <th class="text-center">Eliminar</th>
                                    </tr>
                                    </thead>
                                    <tbody id="datatable">
                                    <tr th:each="front,iter: ${frontData}">
                                        <td class="text-center"><img th:src="@{'/slider/'+${front.img}}" width="100"
                                                                     class="img-fluid  img-thumbnail shadow-sm">
                                        </td>
                                        <td class="text-center align-middle" id="inputPosition"><input id="inputPos"
                                                                                                       type="number"
                                                                                                       class="form-control"
                                                                                                       min="1"
                                                                                                       th:value="${front.position}"
                                                                                                       width="50%"></td>
                                        <td class="text-center align-middle"><a class="btn btn-danger"
                                                                                th:attr="onclick=|deleteRow('${front.id}')|"><i
                                                class="fa-solid fa-trash"></i>&nbsp;Eliminar</a></td>
                                    </tr>
                                    <tr th:if="${#lists.isEmpty(frontData)}" class="no-data text-center">
                                        <td colspan="3">Sin registros</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                                <div class="row justify-content-center mt-4">
                                    <a type="" class="btn btn-primary"
                                       th:classappend="${frontData.isEmpty() ? 'disabled border-btn-orchid' : ''}"
                                       th:style="${frontData.isEmpty() ? 'border-color: orchid;' : ''}" id="positionBtn"><i
                                            class="fa-solid fa-pencil"></i>&nbsp;Actualizar Posición</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="col-md-8 col-sm-8 col-xs-8 px-0" style="margin:auto;">
                        <img id="image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="crop">Subir</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/plugins/jquery/jquery-3.6.1.min.js}"></script>
<script th:src="@{/plugins/jquery/jquery-confirm.min.js}"></script>
<script th:src="@{/plugins/popper/popper.min.js}"></script>
<script th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/custom/js/dashboard-front.js}"></script>
<script th:src="@{/plugins/cropper/cropper.min.js}"></script>
</body>

</html>